<p id="notice"><%= notice %></p>

<div class="container">
  <div class="d-flex justify-content-between ">

    <%= link_to 'Add Item', new_todo_item_path, class: "btn btn-primary btn-md" %>
  </div>
  
  <div class="row">
    <div class="col-sm">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
             <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @todo_items.each do |todo_item| %>
        <tr class="align-items-center">
            <td>
              <%= todo_item.title %>
            </td>
            <td>
              <%= link_to todo_item.due_at.strftime("%b %d, %Y"), todo_date_path(:id => todo_item.todo_date_id) %>
            </td>
            <td>
              <%= todo_item.due_at.strftime("%I:%M%p") %>
            </td>
            <td>
              <%= link_to 'Show', todo_item, class: "btn btn-outline-info" %>
              <%= link_to 'Edit', edit_todo_item_path(todo_item), class: "btn btn-outline-secondary" %>
              <%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>






