<%= form_with(model: todo_date) do |form| %>
  <% if todo_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_date.errors.count, "error") %> prohibited this todo_date from being saved:</h2>

      <ul>
        <% todo_date.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
