<div class="container-sm">
  <div class="column">
  <%= link_to 'Back', todo_items_path,class: "btn btn-light" %>
    <h3>Day: <strong><%= @todo_date.day.strftime("%b %d, %Y") %></strong></h3>
  </div>
  
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">ToDo</th>
            <th scope="col">Due at</th>
             <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @todo_date.todo_items.each do |todo_item| %>
        <tr class="align-items-center">
            <td>
              <%= todo_item.title %>
            </td>
            <td>
              <%= todo_item.due_at.strftime("%I:%M%p") %>
            </td>
            <td>
              <%= link_to 'Show', todo_item, class: "btn btn-outline-info" %>
              <%= link_to 'Edit', edit_todo_item_path(todo_item), class: "btn btn-outline-secondary" %>
              <%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>






